# Bigmart sales

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [70]:

train=pd.read_csv(r"C:\Users\Ajay\Desktop\dataset_python\bigmart_dataset\Train.csv")
test=pd.read_csv(r"C:\Users\Ajay\Desktop\dataset_python\bigmart_dataset\Test.csv")

train.dtypes

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

train = train.apply(lambda col: le.fit_transform(col.astype(str)), axis=0, result_type='expand')
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,406,1,664,4,3849,9,4,1,0,1,1976
1,8,179,2,880,14,4668,3,8,1,2,2,2316
2,662,82,1,715,10,1158,9,4,1,0,1,912
3,1121,99,2,0,6,2484,0,3,3,2,0,3185
4,1297,387,1,0,9,4822,1,1,0,2,1,3488

In [ ]:
train.head()

#from sklearn.preprocessing import LabelEncoder
#object=LabelEncoder()
##train.Item_Identifier=object.fit_transform(train.Item_Identifier)
##train.Item_Fat_Content=object.fit_transform(train.Item_Fat_Content)
#train.Item_Type=object.fit_transform(train.Item_Type)
#train.Outlet_Identifier=object.fit_transform(train.Outlet_Identifier)
#train.describe


# no need to write this thing
# i have found lamda function

In [61]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.30,1,0.016047,4,249.8092,9,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,8,5.92,2,0.019278,14,48.2692,3,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,662,17.50,1,0.016760,10,141.6180,9,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,1121,19.20,2,0.000000,6,182.0950,0,1998,NaN,Tier 3,Grocery Store,732.3800
4,1297,8.93,1,0.000000,9,53.8614,1,1987,High,Tier 3,Supermarket Type1,994.7052

In [71]:
 train_x=train.drop(columns="Item_Outlet_Sales",axis=1)

In [72]:
train_y=train.Item_Outlet_Sales

In [57]:
 train_x=train.drop(columns="Item_Outlet_Sales",axis=1)
train_y=train.Item_Outlet_Sales

ImportError: cannot import name 'Label' from 'sklearn.preprocessing' (C:\Users\Ajay\Anaconda3\lib\site-packages\sklearn\preprocessing\__init__.py)

In [73]:
from sklearn.linear_model import  LinearRegression

In [74]:
linear=LinearRegression()

In [75]:
linear.fit(train_x,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [79]:
test
test = test.apply(lambda col: le.fit_transform(col.astype(str)), axis=0, result_type='expand')
test.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,1103,115,1,66,13,200,9,4,1,0,1
1,1067,345,4,1714,4,4107,2,7,3,1,1
2,1406,49,1,4042,11,2816,0,3,3,2,0
3,809,278,1,388,13,1262,2,7,3,1,1
4,1184,410,2,4423,4,2712,5,0,1,2,3

In [81]:
predict=linear.predict(test)

In [83]:
predict

array([1319.19948718, 1667.82372679, 1629.94259234, ..., 1370.65426603,
       1478.68057724, 1690.61409062])

In [86]:
pd.to_csv(r"C:\Users\Ajay\Desktop\dataset_python\bigmart_dataset\Test.csv")

AttributeError: module 'pandas' has no attribute 'to_csv'